# WordPress
/wp-admin/
/wp-includes/
/wp-content/plugins/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/themes/twenty*/

# Project-specific
/node_modules/
npm-debug.log
/vendor/
/wp-content/mu-plugins/
composer.lock
wp-cli.phar
~/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db

# Dreamweaver project files
*_notes/
*.dwsftp.xml
*.mno
*.lck

# Ignore all .map files
*.map